<header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/"><h2>گیومه<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">خانه
                <span class="sr-only">(اینجایی)</span>
              </a>
            </li>
            <li class="nav-item dropdown" data-toggle="dropdown">
              <a class="nav-link"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">دسته‌بندی‌ها</a>
                <ul class="dropdown-menu" style="text-align-last:center;">
                    <li><a class="dropdown-item" href="/category/برنامه‌نویسی" >برنامه‌نویسی</a></li>
                    <li><a class="dropdown-item" href="/category/بلاکچین" data-hover=" ">بلاکچین</a></li>
                    <li><a class="dropdown-item" href="/category/طراحی و گرافیک" data-hover=" ">طراحی و گرافیک</a></li>
                    <li><a class="dropdown-item" href="/category/هوش مصنوعی" data-hover=" ">هوش مصنوعی</a></li>
                    <li><a class="dropdown-item" href="/category/امنیت و شبکه" data-hover=" ">امنیت و شبکه</a></li>
                    <li><a class="dropdown-item" href="/category/تولید محتوا و سئو" data-hover=" ">تولید محتوا و سئو</a></li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">نویسندگان</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
  </header>
